<header>
  <h1>Angular Universal Ghibli Demo</h1>
</header>
<div class="app__container-outer">
  <div class="app__container-inner">
    <p>
      Here is a list of Studio Ghibli films from the <a href="https://ghibliapi.herokuapp.com/">Ghibli api</a>. They are ordered from best to worst according to Rotten Tomatoes - what do you think?
    </p>
    <div class="app__film-list">
      <div class="app__film" *ngFor="let film of films$ | async">
          <h2>{{ film.title }}</h2>
          <p>{{ film.description }}</p>
          <div class="app__film-details">
            <div class="app__film-details-left">
              <em>{{ film.director }}, {{ film.release_date }}</em>
            </div>
            <div class="app__film-details-right">
              <span class="bold">{{ film.rt_score }}</span>/100 on Rotten Tomatoes
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
