/* You can add global styles to this file, and also import other style files */
* {
  font-family: helvetica;
}

html, body {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

p, div {
  font-size: 18px;
}
